@import '~react-md/src/scss/react-md';
@include react-md-buttons;
@include react-md-icons;
@include react-md-drawers;
@include react-md-toolbars;
@include react-md-menus;
@include react-md-lists;
@include react-md-transitions;
@include react-md-dividers;

@include react-md-papers;
@include react-md-layovers;

.md-btn--color-primary-active {
	background-color:rgba(0, 0, 0, 0.1) !important;
}

nav {
	padding: .7em;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	box-shadow: 0 1px 4px 0 rgba(0,0,0, 0.1);
	position: fixed;
	height:3.6em;
	width: 100%;
	z-index: 1;
	font-size:18px;
	.nav-item {
		display: inline;
		vertical-align: middle;
	}
	.md-btn--icon {
		margin-right:3em;
	}
	#change_theme {
		position:absolute;
		top:.7em;
		left:3em;
	}
	#title {
		font-weight: bold;
		font-size: 18px;
	}
	#toolbar {
		border: none;
		float: right;
	}
}

#drawer {
	height:auto;
	#drawer-header {
		border-bottom: 1px solid rgba(0,0,0, 0.1);
		z-index: 10;
		height:3.6em;
		#close {
			position: absolute;
			right:-2.3em;
		}
		#add {
			position:absolute;
			bottom:0;
			right:1.5em;
		}
		#login {
			margin-left: 1em;
		}
	}
}

